@charset "UTF-8";
/*----------------------------------------IMPORT NULL STYLE/ICONS/FONT ---------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

p {
  margin-top: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
  overflow-x: hidden;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  background-color: #fff;
  color: #1d1f2e;
  overflow: hidden;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-arrow-down:before {
  content: "\e900";
}

._icon-arrow-link:before {
  content: "\e901";
}

._icon-cart:before {
  content: "\e902";
}

._icon-favorite:before {
  content: "\e903";
}

._icon-location:before {
  content: "\e904";
}

._icon-phone:before {
  content: "\e905";
}

._icon-search:before {
  content: "\e906";
}

._icon-send:before {
  content: "\e907";
}

._icon-share:before {
  content: "\e908";
}

@font-face {
  font-family: "Karla";
  src: url("../fonts/Karla-Regular.eot");
  src: local("☺"), url("../fonts/Karla-Regular.woff") format("woff"), url("../fonts/Karla-Regular.ttf") format("truetype"), url("../fonts/Karla-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Karla";
  src: url("../fonts/Karla-Bold.eot");
  src: local("☺"), url("../fonts/Karla-Bold.woff") format("woff"), url("../fonts/Karla-Bold.ttf") format("truetype"), url("../fonts/Karla-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
html,
body {
  min-width: 320px;
}

body._lock {
  overflow: hidden;
}

/*----------------------------------------CONTAINER STYLE ---------------------------------*/
[class*=__container] {
  max-width: 900px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*----------------------------------------HEADER SECTION STYLE---------------------------------*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
}

.header__row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 20px;
}

.header__burger {
  display: none;
}

.header__navigator ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  padding-left: 20px;
}

.header__list li {
  margin-right: 30px;
}

.header__list li:last-child {
  margin-right: 56px;
}

.header__list a {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1d1f2e;
  text-decoration: none;
}

.header__list li a:hover {
  color: #a25f4b;
  -webkit-transition: color 250ms ease-in-out;
  -o-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}

.cart-header__icon {
  font-family: "Karla", sans-serif;
  color: #1d1f2e;
  text-decoration: none;
  border: none;
}

.header__coll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  right: 15px;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__coll:hover {
  cursor: pointer;
}

.header__cartcount {
  position: absolute;
  top: 0px;
  left: 66px;
  color: white;
  font-size: 11px;
  background-color: #2f303e;
  border-radius: 50%;
  min-width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
}

.header__spantext {
  font-family: "Karla", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1d1f2e;
  padding: 0 10px 0 10px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

@media (min-width: 1015px) {
  .header__logo {
    padding-left: 30px;
    margin-right: -30px;
  }
  .header__coll {
    margin-right: 40px;
  }
}
@media screen and (min-width: 1000px) {
  .header__list a {
    letter-spacing: 1px;
  }
  .header__list li {
    margin-right: 20px;
  }
}
@media (max-width: 900px) {
  .header__logo {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 820px) {
  .header__list li {
    margin-right: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .header__logo {
    margin-left: 25px;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__list li {
    padding: 10px 0;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    right: 35px;
  }
  .header__burger span,
  .header__burger::before,
  .header__burger::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #000;
  }
  .header__burger::before,
  .header__burger::after {
    content: " ";
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .header__burger._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .header__burger._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__burger._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .header__list > li:last-child {
    margin: 0 0 0 0;
  }
  ul.header__list {
    display: block;
    text-align: center;
  }
  .header__navigator {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 35%;
    overflow: auto;
    -webkit-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
    padding: 70px 10px 0px 10px;
    z-index: -2;
    background-color: #ffffff;
  }
  .header__navigator._active {
    top: 0;
  }
  .header__list li {
    margin-right: 0;
  }
  .header__coll {
    left: 170px;
    margin-right: 0;
  }
}
@media only screen and (max-width: 640px) {
  .header__coll {
    left: 150px;
  }
}
@media only screen and (max-width: 320px) {
  .header__logo {
    margin-left: 0;
  }
  .header__coll {
    left: -20px;
    margin-right: 0;
  }
  .header__burger {
    right: 0;
  }
  .header__list {
    padding-left: 0;
  }
}
/*----------------------------------------CONTENT SECTION STYLE---------------------------------*/
.content {
  background-color: #050827;
  margin: 0 30px;
}

.content__row {
  padding: 200px 0 56px 0;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
}

.content__title {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.content__subtitle {
  font-size: 47px;
  line-height: 60px;
  letter-spacing: 3px;
}

.content__text {
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 1px;
  padding-bottom: 30px;
}

.content .content__button {
  text-align: center;
}

.content__button button {
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1d1f2e;
  padding: 13px 27px;
  border: none;
  cursor: pointer;
}

.content__button button:hover {
  background-color: #a25f4b;
  color: white;
  -webkit-transition: all 500ms ease 0s;
  -o-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
  outline: none;
}

@media only screen and (max-width: 946px) {
  .content .content__button {
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .content .content__text {
    letter-spacing: 1px;
    padding: 20px 0;
    line-height: 24px;
  }
  .content__row {
    padding-bottom: 0;
  }
  .content__subtitle {
    font-size: 37px;
  }
  .content__text {
    font-size: 16px;
  }
}
@media only screen and (max-width: 991px) {
  .content__text {
    padding: 30px 15px 0 15px;
    letter-spacing: 1px;
  }
  .content__button {
    padding-bottom: 85px;
  }
}
@media only screen and (max-width: 500px) {
  .content__button {
    padding-bottom: 55px;
  }
}
@media only screen and (max-width: 320px) {
  .content {
    margin: 0;
  }
  .content .content__title {
    letter-spacing: 1px;
    padding-bottom: 10px;
  }
  .content .content__text {
    padding: 15px 0 20px 0;
    line-height: 20px;
  }
}
/*----------------------------------------BLOG SECTION STYLE---------------------------------*/
.blog {
  padding: 127px 0 100px 0;
}

.blog__container {
  max-width: 620px;
  margin: 0 auto;
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: center;
}

.blog__title {
  font-size: 28px;
  line-height: 40px;
  color: #1d1f2e;
  letter-spacing: 0.5px;
}

.blog__text {
  font-size: 16px;
  line-height: 28px;
  color: rgba(29, 31, 46, 0.7);
  padding-top: 35px;
  letter-spacing: 0.5px;
}

.blog__button {
  padding-top: 35px;
}

.blog__btn {
  font-size: 15px;
  line-height: 28px;
  color: #a25f4b;
  background-color: inherit;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 200px 5px;
  -webkit-transition: background-position 0.5s ease, padding-left 0.5s ease;
  -o-transition: background-position 0.5s ease, padding-left 0.5s ease;
  transition: background-position 0.5s ease, padding-left 0.5s ease;
  width: 200px;
  height: 35px;
  padding: 1px 7px 1px 7px;
  border: none;
  cursor: pointer;
}

.blog__btn:hover {
  color: black;
  -webkit-transition: background-position 0.5s ease, padding-left 0.5s ease;
  -o-transition: background-position 0.5s ease, padding-left 0.5s ease;
  transition: background-position 0.5s ease, padding-left 0.5s ease;
  background-position: 173px 5px;
  padding-left: 0;
}

.blog__separator {
  margin: 0 auto;
  max-width: 190px;
  border-bottom: 2px solid rgba(162, 95, 75, 0.2);
}

@media only screen and (max-width: 991px) {
  .blog {
    padding: 68px 0 70px 0;
  }
  .blog__title {
    line-height: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .blog .blog__text {
    padding: 30px 15px 0 15px;
  }
  .blog__title {
    font-size: 24px;
  }
  .blog__text {
    font-size: 14px;
  }
}
@media only screen and (max-width: 500px) {
  .blog__row {
    margin: 0;
  }
}
@media only screen and (max-width: 320px) {
  .blog__title {
    font-size: 20px;
    line-height: 26px;
    padding-bottom: 0;
  }
  .blog__text {
    padding: 30px 0 15px 0;
  }
}
/*----------------------------------------FEATURED SECTION STYLE---------------------------------*/
.featured__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.featured {
  padding-bottom: 50px;
}

.featured__title {
  padding: 0 0 100px 0;
  position: relative;
}

.featured__images {
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

.itemImage {
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.itemImage:hover {
  -webkit-transform: scaleX(1.1);
      -ms-transform: scaleX(1.1);
          transform: scaleX(1.1);
}

.hiddenContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.descriptionlabel {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.buyItemBtn {
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  text-decoration: underline;
  padding: 10px;
  color: #a25f4b;
  pointer-events: all;
  cursor: pointer;
  border: none;
  text-decoration: none;
}

.buyItemBtn:hover {
  background-color: #a25f4b;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.descriptionlabel {
  white-space: pre-wrap;
  padding: 10px;
  font-family: "Karla";
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.5px;
  pointer-events: none;
  text-align: left;
}

.namePrice {
  padding-right: 12px;
  font-size: 19px;
  line-height: 32px;
  text-align: center;
  color: #a25f4b;
}

.paretPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}

.featured__images .itemImage {
  margin-top: 0;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.featured__images .itemImage {
  max-width: 440px;
}

.nameTitle {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #1d1f2e;
}

.featured__parent-img {
  margin-bottom: 5px;
}

.curentPrice {
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: rgba(29, 31, 46, 0.7);
}

.oldPrice {
  text-decoration: line-through;
  font-family: "Karla", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: rgba(29, 31, 46, 0.4);
}

@media only screen and (max-width: 992px) {
  .featured {
    margin: 0 15px;
  }
  .featured__row {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .featured__title {
    padding: 0 0 50px 0;
  }
  .featured__images:last-child {
    margin-right: 0;
  }
  .featured__images .itemImage {
    max-width: 340px;
  }
}
@media only screen and (max-width: 768px) {
  .featured__images .hiddenContainer {
    bottom: 142px;
    overflow-x: hidden;
  }
  .featured__images .itemImage {
    margin-bottom: 10px;
    max-width: 320px;
  }
  .itemImage:hover {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}
@media only screen and (max-width: 640px) {
  .nameTitle {
    font-size: 16px;
  }
  .featured__images .itemImage {
    max-width: 250px;
  }
  .featured__images .descriptionlabel {
    font-size: 14px;
    line-height: 20px;
  }
}
@media only screen and (max-width: 570px) {
  .paretPrice {
    margin-bottom: 55px;
    font-size: 13px;
  }
  .curentPrice {
    font-size: 13px;
  }
  .oldPrice {
    font-size: 13px;
  }
  .namePrice {
    font-size: 13px;
  }
  .featured__images .itemImage {
    margin-bottom: 23px;
  }
}
@media only screen and (max-width: 320px) {
  .featured__row {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .featured {
    padding-top: 10px;
  }
  .featured__images {
    margin-bottom: 20px;
  }
  .featured__images .itemImage {
    margin-bottom: 7px;
  }
  .featured__title {
    padding-bottom: 20px;
  }
  .featured__images .hiddenContainer {
    width: 100%;
    bottom: 70px;
  }
  .nameTitle {
    margin-right: 0;
  }
  .paretPrice {
    margin-bottom: 6px;
  }
}
/*----------------------------------------PRODUCT SECTION STYLE---------------------------------*/
.product__images {
  overflow: hidden;
}

.product__images img {
  margin-bottom: 40px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.product__images .itemImage {
  max-width: 290px;
}

.product__images {
  position: relative;
}

.hiddenContainer {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  bottom: 172px;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  color: #fff;
  opacity: 0;
  text-align: center;
}

.products .hiddenContainer {
  bottom: 178px;
}

.product__images .hiddenContainer::first-line {
  color: #19ab4a;
}

.title {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1d1f2e;
}

.text {
  font-size: 20px;
  line-height: 30px;
  color: #1d1f2e;
  padding-top: 35px;
}

.products__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.products__title {
  padding-bottom: 100px;
  position: relative;
}

@media only screen and (max-width: 991px) {
  .products__title {
    padding: 20px 0 50px 0;
  }
  .products__row {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .products .buyItemBtn {
    width: 100%;
  }
  .nameTitle {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .products__title {
    padding: 0 0 50px 0;
  }
  .product__images .itemImage {
    width: 100%;
    margin-bottom: 10px;
  }
  .products .hiddenContainer {
    bottom: 137px;
  }
  .products .descriptionlabel {
    font-size: 14px;
    line-height: 20px;
  }
}
@media only screen and (max-width: 640px) {
  .product__images .itemImage {
    max-width: 240px;
  }
}
@media only screen and (max-width: 320px) {
  .products__title {
    padding-top: 0px;
  }
  .product__images .hiddenContainer {
    bottom: 93px;
  }
  .product__images .paretPrice {
    margin-bottom: 30px;
  }
}
/*----------------------------------------OFFERS SECTION STYLE---------------------------------*/
.offers {
  padding: 50px 0 80px 0;
}

.offers__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Karla", serif;
  font-style: normal;
  font-weight: normal;
}

.offers__main {
  padding-left: 40px;
}

.offers__title {
  padding-bottom: 100px;
}

.offers__images {
  padding-right: 20px;
}

.offers__imgcoffe img:first-child {
  padding-bottom: 20px;
}

.offers__subtitle {
  font-size: 36px;
  line-height: 50px;
  color: #1d1f2e;
  letter-spacing: 2px;
  margin-top: -85px;
}

.offers__text {
  font-size: 16px;
  line-height: 28px;
  color: rgba(29, 31, 46, 0.7);
  padding-top: 5px;
  letter-spacing: 1px;
}

.offers__btn {
  padding: 30px 0 10px 0;
}

.button {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #1d1f2e;
  padding: 15px 24px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #a25f4b;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.parallax__background {
  background-image: url("../images/Section.jpg");
  height: 340px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-attachment: fixed;
}

@media only screen and (max-width: 991px) {
  .background {
    padding: 0 0 30px 0;
  }
  .offers {
    padding-top: 0;
  }
  .offers__images {
    padding-left: 20px;
  }
  .offers__title {
    padding-bottom: 50px;
  }
  .offers__main {
    padding-left: 10px;
  }
  .offers__main .offers__title {
    padding-bottom: 20px;
  }
  .offers__subtitle {
    margin-top: 0;
    line-height: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .offers {
    padding-top: 20px;
  }
  .offers__main {
    min-width: 250px;
    margin-right: 5px;
  }
  .offers .offers__images {
    padding-left: 0;
  }
  .offers__btn {
    padding-top: 69px;
  }
  .offers__subtitle {
    font-size: 32px;
  }
  .offers__images img {
    display: none;
  }
  .offers__subtitle {
    letter-spacing: 1px;
    margin-top: 0;
  }
}
@media only screen and (max-width: 640px) {
  .offers__text {
    letter-spacing: 0;
    line-height: 25px;
  }
  .offers__btn {
    padding-top: 53px;
  }
}
@media only screen and (max-width: 570px) {
  .offers__subtitle {
    font-size: 26px;
    line-height: 31px;
  }
  .offers__main {
    margin-right: 10px;
  }
  .offers .offers__images {
    padding-left: 10px;
  }
}
@media only screen and (max-width: 320px) {
  .offers__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offers__imgcoffe {
    display: none;
  }
  .offers__main {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0;
    padding: 0;
  }
  .offers__btn {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
  .offers__btn .button {
    width: 100%;
  }
  .offers__title {
    padding-bottom: 38px;
  }
}
/*----------------------------------------LIVESTYLE SECTION STYLE---------------------------------*/
.livestyle__title {
  padding: 100px 0;
}

.lifestyle__row {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Karla", serif;
  font-style: normal;
  font-weight: normal;
}

.lifestyle__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.lifestyle__block {
  padding-right: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 280px;
}

.lifestyle__subtitle {
  font-size: 20px;
  line-height: 32px;
  color: #1d1f2e;
  padding: 35px 0 25px 0;
  letter-spacing: 0.5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  cursor: pointer;
}

.lifestyle__subtitle:hover {
  color: #a25f4b;
  -webkit-transition: color 250ms ease-in;
  -o-transition: color 250ms ease-in;
  transition: color 250ms ease-in;
}

.lifestyle__text {
  font-size: 16px;
  line-height: 28px;
  color: rgba(29, 31, 46, 0.7);
  padding-bottom: 25px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.lifestyle__date {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1d1f2e;
  padding-bottom: 100px;
}

@media only screen and (max-width: 991px) {
  .livestyle__title {
    padding-bottom: 50px;
  }
  .lifestyle__row {
    margin: 0 15px 0 10px;
  }
  .lifestyle__block {
    width: 32%;
  }
  .lifestyle__subtitle {
    font-size: 18px;
    padding: 17px 0 15px 0;
    line-height: 25px;
  }
  .lifestyle__text {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
}
@media only screen and (max-width: 768px) {
  .lifestyle__row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .lifestyle__block {
    width: 40%;
    margin-right: 0;
  }
  .lifestyle__info {
    text-align: center;
  }
  .lifestyle__date {
    padding-bottom: 48px;
  }
  .lifestyle__text {
    line-height: 22px;
  }
  .lifestyle__subtitle {
    font-size: 18px;
    padding: 17px 0 0 0;
    margin-bottom: 15px;
    line-height: 22px;
  }
}
@media only screen and (max-width: 640px) {
  .lifestyle__subtitle {
    font-size: 16px;
  }
  .lifestyle__text {
    font-size: 14px;
    line-height: 20px;
  }
}
@media only screen and (max-width: 570px) {
  .title {
    letter-spacing: 1px;
  }
  .livestyle__title {
    padding-bottom: 50px;
  }
  .lifestyle__text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}
@media only screen and (max-width: 500px) {
  .lifestyle__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media only screen and (max-width: 320px) {
  .livestyle__title {
    padding-bottom: 20px;
  }
  .lifestyle__subtitle {
    line-height: 25px;
  }
  .lifestyle__row {
    margin: 0;
    padding: 0;
  }
  .lifestyle__block {
    padding: 0;
  }
}
/*----------------------------------------UPDATES SECTION STYLE---------------------------------*/
.updates {
  background-color: #050827;
  margin: 0 30px;
}

.updates__main {
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
  padding-top: 83px;
  font-family: "Karla", serif;
  font-style: normal;
  font-weight: normal;
}

.updates__subtitle {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  padding-bottom: 33px;
  letter-spacing: 2px;
}

.updates__title {
  font-size: 36px;
  line-height: 50px;
  letter-spacing: 1px;
  padding-bottom: 35px;
}

.updates__input {
  padding: 20px;
  min-width: 350px;
  background-color: initial;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #2f303e;
  outline: none;
}

.updates__form {
  padding: 0 0 85px 0;
}

.updates__btn {
  padding: 20px;
  background: #ffffff;
  -webkit-box-shadow: 0 2px 6px rgba(29, 31, 46, 0.1);
          box-shadow: 0 2px 6px rgba(29, 31, 46, 0.1);
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
  border: none;
  cursor: pointer;
}

.updates__btn:hover {
  background-color: #a25f4b;
  color: white;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
}

@media only screen and (max-width: 570px) {
  .updates__form {
    margin: 0 10px;
    padding-bottom: 30px;
  }
  .updates__input {
    width: 100%;
  }
  .updates__btn {
    width: 100%;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 320px) {
  .updates {
    margin: 0;
  }
  .updates__subtitle {
    padding-bottom: 20px;
    letter-spacing: 1px;
  }
  .updates__form {
    margin: 0;
  }
  .updates__title {
    font-size: 33px;
  }
}
/*----------------------------------------FOOTER SECTION STYLE---------------------------------*/
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 105px 0 15px 0;
  font-family: "Karla", serif;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
}

.footer__logo img {
  cursor: pointer;
}

.footer__logotext {
  font-size: 14px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.7);
  padding: 25px 0 90px 0;
  letter-spacing: 0.5px;
  max-width: 280px;
}

.footer__artical {
  font-size: 14px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.3);
  padding-top: 62px;
}

.footer__title {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1d1f2e;
  padding-bottom: 32px;
}

.footer__list li {
  padding-bottom: 7px;
}

.footer__list a {
  font-size: 13px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.7);
  text-decoration: none;
}

.footer__list a:hover {
  color: #a25f4b;
  -webkit-transition: color 250ms ease-in;
  -o-transition: color 250ms ease-in;
  transition: color 250ms ease-in;
}

.footer__text {
  font-size: 14px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.7);
  padding-bottom: 36px;
}

.footer__contact p a {
  font-size: 20px;
  line-height: 36px;
  color: #1d1f2e;
  letter-spacing: 1.5px;
  text-decoration: none;
}

.footer__bottomtext {
  font-size: 14px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.3);
  padding-top: 87px;
}

@media only screen and (max-width: 991px) {
  .footer__row {
    padding: 84px 30px 30px 30px;
  }
}
@media only screen and (max-width: 768px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 30px;
    padding-bottom: 0;
  }
  .footer__logo {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    padding-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__logotext {
    padding: 10px 0;
    margin-top: 21px;
  }
  .footer__artical {
    padding-top: 2px;
  }
  .footer__menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: center;
  }
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 30px;
    text-align: center;
  }
  .footer__list li {
    margin-right: 30px;
  }
  .footer__list li:last-child {
    margin-right: 0;
  }
  .footer__title {
    padding-bottom: 10px;
    text-align: center;
  }
  .footer__follow {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer__contact {
    text-align: center;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .footer__text {
    padding-bottom: 5px;
  }
  .footer__contact a {
    display: block;
  }
  .footer__bottomtext {
    padding-top: 30px;
  }
}
@media only screen and (max-width: 640px) {
  .footer__logotext {
    display: none;
  }
  .footer__bottomtext {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .footer__follow .footer__title,
  .footer__contact .footer__title {
    padding-top: 40px;
  }
  .footer__menu,
  .footer__follow {
    border-bottom: 2px solid rgba(162, 95, 75, 0.2);
  }
  .footer__follow .footer__list {
    padding-bottom: 0;
  }
  .footer__menu .footer__list {
    display: block;
    padding-bottom: 0;
  }
  .footer__menu .footer__list li {
    margin-right: 0;
  }
}
@media only screen and (max-width: 320px) {
  .footer__row {
    padding: 30px 0 20px 0;
  }
  .footer__menu .footer__list li {
    margin-right: 0;
  }
  .footer .footer__follow .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .footer__follow .footer__list li {
    margin-right: 0;
  }
}
/*----------------------------------------POPUP MODAL SECTION STYLE----------------------------------*/
.popup {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  z-index: 25;
  display: none;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 30px 10px;
  font-family: "Karla", serif;
  font-style: normal;
  font-weight: normal;
  color: #fff;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup__content {
  min-width: 440px;
  background-color: #1d1f2e;
  -webkit-box-shadow: 0 2px 6px 0 rgba(29, 31, 46, 0.1);
          box-shadow: 0 2px 6px 0 rgba(29, 31, 46, 0.1);
  color: #fff;
  margin-top: 40px;
  display: block;
}

.popup__header {
  padding: 30px 40px;
  border-bottom: 1px solid rgba(210, 210, 213, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__title {
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.popup__closed {
  font-size: 15px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
}

.popup__closed:hover {
  color: rgb(235, 91, 91);
  -webkit-transition: color 500ms ease 0s;
  -o-transition: color 500ms ease 0s;
  transition: color 500ms ease 0s;
}

.popup__order {
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup__button {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  background-color: inherit;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-bottom: 1px solid #19ab4a;
  border: none;
  cursor: pointer;
}

.popup__button:hover {
  color: #19ab4a;
  -webkit-transition: color 0.4s ease-in;
  -o-transition: color 0.4s ease-in;
  transition: color 0.4s ease-in;
}

.popup__delete {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid #1d1f2e;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.popup__delete :hover {
  color: red;
}

.popup__delete:hover {
  color: red;
  -webkit-transition: color 0.4s ease-in;
  -o-transition: color 0.4s ease-in;
  transition: color 0.4s ease-in;
}

.popup__clear {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #1d1f2e;
  border-bottom: 1px solid #1d1f2e;
}

.imgrow {
  width: 100%;
  height: 100%;
  padding-bottom: 5px;
}

.popup__main {
  padding: 30px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
}

.myTable {
  padding: 10px 0;
}

table .myTable {
  scroll-behavior: smooth;
}

.popup__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup__sum {
  padding-right: 67px;
}

.popup__count {
  padding-left: 375px;
}

.myTable tbody td {
  border-bottom: 1px solid rgba(210, 210, 213, 0.1);
  padding: 5px 0;
}

.myTable tbody td:nth-child(1) {
  width: 120px;
  height: auto;
}

.myTable tbody td:nth-child(2) {
  width: 45%;
  padding-left: 5px;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  padding: 0 25px;
}

.myTable tbody td:nth-child(3) {
  width: 5%;
  color: #fff;
  cursor: pointer;
}

.myTable tbody td:nth-child(4) {
  width: 8%;
  font-size: 14px;
}

.myTable tbody td:nth-child(5) {
  width: 5%;
  padding-right: 10px;
  color: #fff;
  cursor: pointer;
}

.popup__fullprice {
  padding: 15px 0;
  display: inline-block;
  font-family: "Karla", serif;
  font-style: normal;
  font-weight: 700;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(210, 210, 213, 0.1);
}

.fullprice {
  display: inline-block;
  padding-right: 30px;
}

.products__button {
  display: none;
}

@media only screen and (max-width: 768px) {
  .popup__body {
    padding: 30px 20px;
  }
  .popup__content {
    min-width: 400px;
  }
  .popup__count {
    padding-left: 230px;
  }
  .popup__sum {
    padding-right: 34px;
  }
}
@media only screen and (max-width: 600px) {
  .products {
    position: relative;
  }
  .products__button {
    display: block;
    text-align: center;
  }
  .products__title {
    padding-bottom: 20px;
  }
  .products__row {
    display: none;
  }
  .products__button {
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 685px) {
  .popup__sum {
    padding-right: 24px;
  }
  .popup__count {
    padding-left: 200px;
  }
}
@media only screen and (max-width: 540px) {
  .popup__sum {
    padding-right: 4px;
  }
  .popup__count {
    padding-left: 92px;
  }
  .myTable td {
    font-size: 12px;
  }
}
@media only screen and (max-width: 320px) {
  .popup__content {
    min-width: 100%;
  }
  .popup__main {
    padding: 15px 10px;
  }
  .myTable tbody td:nth-child(2) {
    width: 50%;
    padding-left: 0px;
    font-size: 16px;
    line-height: 18px;
    padding: 0 8px;
  }
  .fullprice {
    padding-right: 0;
  }
  .popup__header {
    padding: 15px 10px;
  }
  .popup__order {
    padding: 15px 10px;
  }
  .popup__delete,
  .popup__button {
    font-size: 12px;
  }
}