@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-arrow-down:before {
  content: "\e900";
}

._icon-arrow-link:before {
  content: "\e901";
}

._icon-cart:before {
  content: "\e902";
}

._icon-favorite:before {
  content: "\e903";
}

._icon-location:before {
  content: "\e904";
}

._icon-phone:before {
  content: "\e905";
}

._icon-search:before {
  content: "\e906";
}

._icon-send:before {
  content: "\e907";
}

._icon-share:before {
  content: "\e908";
}

@font-face {
  font-family: "Karla";
  src: url("../fonts/Karla-Regular.eot");
  src: local("☺"), url("../fonts/Karla-Regular.woff") format("woff"), url("../fonts/Karla-Regular.ttf") format("truetype"), url("../fonts/Karla-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Karla";
  src: url("../fonts/Karla-Bold.eot");
  src: local("☺"), url("../fonts/Karla-Bold.woff") format("woff"), url("../fonts/Karla-Bold.ttf") format("truetype"), url("../fonts/Karla-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Karla";
  font-size: 16px;
}

.container {
  max-width: 938px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.header__navigator ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
}

.header__list li {
  margin-right: 30px;
}

.header__list li:last-child {
  margin-right: 56px;
}

.header__list a {
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D1F2E;
}

.header__list li a:hover {
  color: #A25F4B;
  border-bottom: 1px solid #A25F4B;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.cart-header__icon {
  font-family: "Karla";
  color: #1D1F2E;
}

.header__item {
  margin-left: -100px;
}

.header__coll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header__coll:hover {
  cursor: pointer;
}

.header__cartcount {
  position: absolute;
  top: 0px;
  left: 75px;
}

.header__spantext {
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D1F2E;
  padding: 0px 10px 0px 10px;
  background-color: inherit;
}

.content {
  background-color: #050827;
  margin: 30px;
}

.content__row {
  background-image: url("../images/header_img.png");
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  text-align: center;
}

.content__title {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 160px;
}

.content__subtitle {
  font-size: 47px;
  line-height: 60px;
  letter-spacing: 3px;
  padding-top: 30px;
}

.content__text {
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 1px;
  padding-top: 30px;
}

.content__button {
  text-align: center;
  padding: 44px 0px 114px 0px;
}

.content__button button {
  font-family: "Karla";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D1F2E;
  padding: 13px 27px;
  letter-spacing: 3px;
}

.content__button button:hover {
  background-color: #A25F4B;
  color: #ffff;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.blog__container {
  max-width: 620px;
  margin: 0 auto;
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
  text-align: center;
}

.blog__title {
  font-size: 28px;
  line-height: 40px;
  color: #1D1F2E;
  padding-top: 133px;
  letter-spacing: 0.5px;
}

.blog__text {
  font-size: 16px;
  line-height: 28px;
  color: rgba(29, 31, 46, 0.7);
  padding-top: 35px;
  letter-spacing: 0.5px;
}

.blog__button {
  padding-top: 35px;
}

.blog__btn {
  font-size: 15px;
  line-height: 28px;
  color: #A25F4B;
  padding: 10px;
  background-color: inherit;
}

.blog__btn:hover {
  color: black;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.blog__separator {
  margin: 0 auto;
  width: 130px;
  border-bottom: 2px solid rgba(162, 95, 75, 0.2);
}

.featured__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured__title {
  padding: 100px 0px 100px 0px;
}

#featured__images {
  position: relative;
}

#featured__images .hiddenContainer {
  margin-top: 238px;
  cursor: pointer;
}

.buyItemBtn {
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  text-decoration: underline;
  padding: 10px;
  color: #5fa05f;
  pointer-events: all;
}

.hiddenContainer .buyItemBtn:hover {
  background-color: #5fa05f;
  color: #000;
  text-decoration: none;
}

.descriptionlabel {
  white-space: pre-wrap;
  padding: 10px;
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
  pointer-events: none;
}

.namePrice {
  padding-right: 12px;
  font-size: 19px;
  line-height: 32px;
  text-align: center;
  color: #A25F4B;
}

.paretPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}

#featured__images img {
  width: 100%;
  margin-top: 0;
  margin-bottom: 43px;
}

.nameTitle {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #1D1F2E;
}

.featured__parent-img {
  margin-bottom: 5px;
}

.curentPrice {
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: rgba(29, 31, 46, 0.7);
}

.oldPrice {
  text-decoration: line-through;
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: rgba(29, 31, 46, 0.4);
}

#product__images img {
  margin-bottom: 40px;
}

#product__images {
  position: relative;
}

#product__images .hiddenContainer {
  margin-top: 78px;
}

.hiddenContainer {
  cursor: pointer;
  position: absolute;
  z-index: 22;
  top: 85px;
  left: 0px;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  pointer-events: none;
  opacity: 0;
}

.title {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D1F2E;
  letter-spacing: 2px;
}

.text {
  font-size: 20px;
  line-height: 30px;
  color: #1D1F2E;
  padding-top: 35px;
}

.products__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products__title {
  padding: 133px 0px 100px 0px;
}

.offers__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
}

.offers__main {
  margin-top: -95px;
}

.offers__title {
  padding: 95px 0px 105px 0px;
}

.offers__images {
  padding-right: 20px;
}

.offers__imgcoffe img:first-child {
  padding-bottom: 20px;
}

.offers__subtitle {
  font-size: 36px;
  line-height: 50px;
  color: #1D1F2E;
  letter-spacing: 2px;
  margin-top: -85px;
}

.offers__text {
  font-size: 16px;
  line-height: 28px;
  color: rgba(29, 31, 46, 0.7);
  padding-top: 5px;
  letter-spacing: 1px;
}

.offers__btn {
  padding: 30px 0px 10px 0px;
}

.button {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #1D1F2E;
  padding: 15px 24px;
}

.button:hover {
  background-color: #A25F4B;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.background {
  padding: 130px 0px 100px 0px;
}

.livestyle__title {
  padding-bottom: 105px;
}

.lifestyle__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
}

.lifestyle__block {
  margin-right: 18px;
}

.lifestyle__subtitle {
  font-size: 20px;
  line-height: 32px;
  color: #1D1F2E;
  padding: 35px 0px 25px 0px;
  letter-spacing: 0.5px;
}

.lifestyle__text {
  font-size: 16px;
  line-height: 28px;
  color: rgba(29, 31, 46, 0.7);
  padding-bottom: 25px;
}

.lifestyle__date {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1D1F2E;
  padding-bottom: 100px;
}

.updates {
  background-color: #050827;
  margin: 30px;
}

.updates__main {
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
  padding-top: 83px;
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
}

.updates__subtitle {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  padding-bottom: 33px;
  letter-spacing: 2px;
}

.updates__title {
  font-size: 36px;
  line-height: 50px;
  letter-spacing: 1px;
  padding-bottom: 35px;
}

.updates__input {
  padding: 20px;
  min-width: 350px;
  background-color: initial;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFF;
  border: 1px solid #2F303E;
}

.updates__form {
  padding: 0px 0px 85px 0px;
}

.updates__btn {
  padding: 20px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 6px rgba(29, 31, 46, 0.1);
          box-shadow: 0px 2px 6px rgba(29, 31, 46, 0.1);
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
}

.updates__btn:hover {
  background-color: #A25F4B;
  color: #ffff;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 105px 0px 52px 0px;
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
}

.footer__logotext {
  font-size: 14px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.7);
  padding: 35px 0px 90px 0px;
  letter-spacing: 0.5px;
  width: 280px;
}

.footer__artical {
  font-size: 14px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.3);
}

.footer__title {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D1F2E;
  padding-bottom: 32px;
}

.footer__list li {
  padding-bottom: 7px;
}

.footer__list a {
  font-size: 13px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.7);
}

.footer__list a:hover {
  border-bottom: 1px solid #000;
  color: #A25F4B;
}

.footer__text {
  font-size: 14px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.7);
  padding-bottom: 36px;
}

.footer__contact p a {
  font-size: 20px;
  line-height: 36px;
  color: #1D1F2E;
  letter-spacing: 1.5px;
}

.footer__bottomtext {
  font-size: 14px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.3);
  padding-top: 48px;
}

.popup {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  z-index: 25;
  display: none;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
  color: #000;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  background-color: #eaeced;
  width: 600px;
}

.popup__title {
  font-size: 20px;
  line-height: 36px;
  color: #1D1F2E;
  letter-spacing: 0.5px;
  padding: 10px 0px 10px 0px;
}

.popup__closed {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 15px;
  color: #000;
  cursor: pointer;
}

.popup__closed:hover {
  color: #eb5b5b;
}

.popup__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__title {
  font-size: 20px;
  line-height: 36px;
  color: #1D1F2E;
  letter-spacing: 0.5px;
}

.popup__order {
  padding: 30px 10px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup__button {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #1D1F2E;
  background-color: inherit;
  text-transform: uppercase;
  border-bottom: 1px solid #1D1F2E;
}

.popup__button:hover {
  color: #19ab4a;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-bottom: 1px solid #19ab4a;
}

.popup__delete {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #1D1F2E;
  text-transform: uppercase;
  border-bottom: 1px solid #1D1F2E;
}

.popup__delete:hover {
  color: #19ab4a;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-bottom: 1px solid #19ab4a;
}

.popup__clear {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #1D1F2E;
  border-bottom: 1px solid #1D1F2E;
}

.imgrow {
  width: 100%;
  height: 100%;
  padding-bottom: 5px;
}

.popup__main {
  position: relative;
}

.myTable {
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
}

table .myTable {
  scroll-behavior: smooth;
}

.popup__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__sum {
  padding-left: 75px;
}

.popup__count {
  padding-left: 292px;
}

.myTable tbody td:nth-child(2) {
  width: 45%;
  padding-left: 5px;
}

.myTable tbody td:nth-child(3) {
  width: 5%;
  color: red;
  cursor: pointer;
}

.myTable tbody td:nth-child(4) {
  width: 5%;
}

.myTable tbody td:nth-child(5) {
  width: 5%;
  padding-right: 50px;
  color: green;
  cursor: pointer;
}

.myTable tbody td:last-child {
  width: 15%;
  padding-left: 14px;
}

.popup__fullprice {
  padding: 15px 0px 0px 10px;
  display: inline-block;
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  color: #000;
}

.fullprice {
  display: inline-block;
  padding-left: 394px;
}