/*----------------------------------------IMPORT NULL STYLE/ICONS/FONT ---------------------------------*/
@import "null";
@import "icons";

@font-face {
  font-family: 'Karla';
  src: url('../fonts/Karla-Regular.eot');
  src: local('☺'), url('../fonts/Karla-Regular.woff') format('woff'), url('../fonts/Karla-Regular.ttf') format('truetype'), url('../fonts/Karla-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('../fonts/Karla-Bold.eot');
  src: local('☺'), url('../fonts/Karla-Bold.woff') format('woff'), url('../fonts/Karla-Bold.ttf') format('truetype'), url('../fonts/Karla-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

html,
body {
  min-width: 320px;
}

body {
  font-family: 'Karla';
  font-size: 16px;
}

/*----------------------------------------CONTAINER STYLE ---------------------------------*/
[class*="__container"] {
  max-width: 940px;
  margin: 0 auto;
}

//WRAPPER STYLE 
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

/*----------------------------------------HEADER SECTION STYLE---------------------------------*/

.header__row {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  align-items: center;
}

.header__logo {
  justify-content: center;
  align-self: center;
}

.header__burger {
  display: none;
}

.header__navigator ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

.header__list li {
  margin-right: 30px;
}

.header__list li:last-child {
  margin-right: 56px;
}

.header__list a {
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D1F2E;
}

.header__list li a:hover {
  color: #A25F4B;
  border-bottom: 1px solid #A25F4B;
  transition: all 0.4s ease 0s;
}

.cart-header__icon {
  font-family: "Karla";
  color: #1D1F2E;
}


.header__item {
  margin-left: -100px;
}

.header__coll {
  display: flex;
  position: relative;
  margin-right: 10px;
}

.header__coll:hover {
  cursor: pointer;
}

.header__cartcount {
  position: absolute;
  top: 0px;
  left: 75px;
}

.header__spantext {
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D1F2E;
  padding: 0px 10px 0px 10px;
  background-color: inherit;
}

@media (max-width: 1015px) {
  .header__logo {
    padding-left: 30px;
    margin-right: -30px;
  }

  .header__coll {
    margin-right: 40px;
  }
}

@media screen and (max-width: 991px) {
  .header__list a {
    letter-spacing: 1px;
  }
}

@media only screen and (max-width: 767px) {
  .header__logo {}

  .header__list {
    display: flex;
    align-items: center;
  }

  .header__list li {
    padding: 10px 0;
  }

  .header__burger {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    right: 35px;
  }

  .header__burger span,
  .header__burger::before,
  .header__burger::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #000;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .header__navigator {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .header__navigator._active {
    left: 0;
  }

  .header__navigator::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    // background-color: #912105;
    z-index: 2;
  }

  .header__item {
    padding-right: 30px;
    margin-left: 330px;
  }

  .header__coll {
    margin-right: -40px;
  }
}

/*----------------------------------------CONTENT SECTION STYLE---------------------------------*/
.content {
  background-color: #050827;
  margin: 0 30px;
}

.content__row {
  background-image: url("../images/header_img.png");
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  text-align: center;
}

.content__title {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 160px;
}

.content__subtitle {
  font-size: 47px;
  line-height: 60px;
  letter-spacing: 3px;
  padding-top: 30px;
}

.content__text {
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 1px;
  padding-top: 30px;
}

.content__button {
  text-align: center;
  padding: 44px 0px 114px 0px;
}

.content__button button {
  font-family: "Karla";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D1F2E;
  padding: 13px 27px;
}

.content__button button:hover {
  background-color: #A25F4B;
  color: #ffff;
  transition: all 0.9s ease 0s;
  border-radius: 4px;
}

@media only screen and (max-width: 767px) {
  .content__text {
    letter-spacing: 0;
  }
}

@media only screen and (max-width: 991px) {
  .content__text {
    padding: 30px 15px 0 15px;
  }
}

/*----------------------------------------BLOG SECTION STYLE---------------------------------*/
.blog {
  padding: 127px 0 100px 0;
}

.blog__container {
  max-width: 620px;
  margin: 0 auto;
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
  text-align: center;
}

.blog__title {
  font-size: 28px;
  line-height: 40px;
  color: #1D1F2E;
  letter-spacing: 0.5px;
}

.blog__text {
  font-size: 16px;
  line-height: 28px;
  color: rgba(29, 31, 46, 0.7);
  padding-top: 35px;
  letter-spacing: 0.5px;
}

.blog__button {
  padding-top: 35px;
}

.blog__btn {
  font-size: 15px;
  line-height: 28px;
  color: #A25F4B;
  padding: 10px;
  background-color: inherit;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 200px 5px;
  transition: background-position 0.5s ease, padding-left 0.5s ease;
  width: 200px;
  height: 40px;
  font-size: 16px;
  padding: 1px 7px 1px 7px;
}

.blog__btn:hover {
  color: black;
  transition: background-position 0.5s ease, padding-left 0.5s ease;
  background-position: 173px 5px;
  padding-left: 0;
}

.blog__separator {
  margin: 0 auto;
  max-width: 190px;
  border-bottom: 2px solid rgba(162, 95, 75, 0.2);
}

@media only screen and (max-width: 767px) {
  .blog {
    padding: 68px 0 70px 0;
  }
}

/*----------------------------------------FEATURED SECTION STYLE---------------------------------*/
.featured__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.featured__title {
  padding: 0 0px 100px 0px;
}

#featured__images {
  position: relative;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

#featured__images:hover img.itemImage {
  transform: scale(1.1);
}

#featured__images .hiddenContainer {
  // margin-top: 246px;
  cursor: pointer;
}

.hiddenContainer {
  display: flex;
  flex-direction: column;
}

.descriptionlabel {
  flex: 1 1 auto;
}

.buyItemBtn {
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  text-decoration: underline;
  padding: 10px;
  color: rgb(95, 160, 95);
  pointer-events: all;
}

.hiddenContainer .buyItemBtn:hover {
  background-color: rgb(95, 160, 95);
  color: #000;
  text-decoration: none;
}

.descriptionlabel {
  white-space: pre-wrap;
  padding: 10px;
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
  pointer-events: none;
}

.namePrice {
  padding-right: 12px;
  font-size: 19px;
  line-height: 32px;
  text-align: center;
  color: #A25F4B;
}

.paretPrice {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

#featured__images img {
  width: 100%;
  margin-top: 0;
  margin-bottom: 43px;
  transition: all 0.3s ease 0s;
}

.nameTitle {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #1D1F2E;
}

.featured__parent-img {
  margin-bottom: 5px;
}

.curentPrice {
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: rgba(29, 31, 46, 0.7);

}

.oldPrice {
  text-decoration: line-through;
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: rgba(29, 31, 46, 0.4);
}


@media only screen and (max-width: 991px) {
  .featured__title {
    padding: 0 0px 50px 0px;
  }

  #featured__images:first-child {
    margin-left: 35px;
  }

  #featured__images img {
    width: 90%;
  }

  #featured__images .hiddenContainer {
    margin-top: 181px;
  }

  .buyItemBtn {
    width: 94.5%;
  }
}

@media only screen and (max-width: 767px) {
  #featured__images .hiddenContainer {
    margin-top: 80px;
  }
}

/*----------------------------------------PRODUCT SECTION STYLE---------------------------------*/
#product__images {
  overflow: hidden;
}

#product__images img {
  margin-bottom: 40px;
  transition: all 0.3s ease 0s;

}

#product__images:hover img.itemImage {
  transform: scale(1.1);
}

#product__images {
  position: relative;
}

#product__images .hiddenContainer {
  // margin-top: 78px;
  margin-top: 0;
}

.hiddenContainer {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  bottom: 154px;
  left: 0px;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  color: #fff;
  opacity: 0;
  text-align: center;
}

#product__images .hiddenContainer::first-line {
  color: #19ab4a;
}

.title {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D1F2E;
  letter-spacing: 2px;
}

.text {
  font-size: 20px;
  line-height: 30px;
  color: #1D1F2E;
  padding-top: 35px;
}


.products__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.products__title {
  padding: 80px 0px 100px 0px;
}

@media screen and (max-width: 760px) {
  .products__title {
    padding: 0 0 50px 0px;
  }
}

@media only screen and (max-width: 991px) {
  .products__title {
    padding: 20px 0px 60px 0px;
  }

  .products__row {
    justify-content: space-evenly;
  }

  .products .buyItemBtn {
    width: 100%;
  }

  .nameTitle {
    margin-bottom: 0;
  }
}

/*----------------------------------------OFFERS SECTION STYLE---------------------------------*/
.offers {
  padding-top: 100px;
}

.offers__row {
  display: flex;
  justify-content: space-between;
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;

}

.offers__main {
  padding-left: 40px;
}

.offers__title {
  padding-bottom: 100px;
}

.offers__images {
  padding-right: 20px;
}

.offers__imgcoffe img:first-child {
  padding-bottom: 20px;
}

.offers__subtitle {
  font-size: 36px;
  line-height: 50px;
  color: #1D1F2E;
  letter-spacing: 2px;
  margin-top: -85px;
}

.offers__text {
  font-size: 16px;
  line-height: 28px;
  color: rgba(29, 31, 46, 0.7);
  padding-top: 5px;
  letter-spacing: 1px;
}

.offers__btn {
  padding: 30px 0px 10px 0px;
}

.button {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #1D1F2E;
  padding: 15px 24px;
}

.button:hover {
  background-color: #A25F4B;
  transition: all 0.9s ease 0s;
  border-radius: 4px;
}

.background {
  padding: 130px 0px 100px 0px;
}

.background img {
  width: 100%;

}

@media only screen and (max-width: 991px) {
  .offers__images {
    padding-left: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .offers {
    padding-top: 20px;
  }

  .offers__title {
    padding-bottom: 60px;
  }

  .offers__images>img {
    display: none;
  }

  .offers__subtitle {
    letter-spacing: 1px;
    margin-top: 0;
  }

  .offers__main {
    padding-left: 5px;
  }
}

/*----------------------------------------LIVESTYLE SECTION STYLE---------------------------------*/
.livestyle__title {
  padding-bottom: 105px;
}

.lifestyle__row {
  display: flex;
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
}

.lifestyle__info {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.lifestyle__block {
  margin-right: 18px;
  display: flex;
  flex-direction: column;
}

.lifestyle__subtitle {
  font-size: 20px;
  line-height: 32px;
  color: #1D1F2E;
  padding: 35px 0px 25px 0px;
  letter-spacing: 0.5px;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}


.lifestyle__text {
  font-size: 16px;
  line-height: 28px;
  color: rgba(29, 31, 46, 0.7);
  padding-bottom: 25px;
  flex: 1 1 auto;
}

.lifestyle__date {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1D1F2E;
  padding-bottom: 100px;
}

@media only screen and (max-width: 991px) {
  .lifestyle__row {
    margin: 0 15px 0 10px;
  }

  .lifestyle__block {
    width: 32%;
  }

  .lifestyle__subtitle {
    font-size: 18px;
    padding: 17px 0px 15px 0px;
  }


}

@media only screen and (max-width: 767px) {
  .background {
    padding: 70px 0 70px 0;
  }

  .livestyle__title {
    padding-bottom: 60px
  }

  .lifestyle__row {
    display: block;

  }

  .lifestyle__block {
    width: 100%;

  }

  .lifestyle__block img {
    order: 2;
    padding: 0 80px 30px 80px;
    margin-top: -80px;
  }


  .lifestyle__info {
    order: 1;
    text-align: center;
  }

  .lifestyle__subtitle {
    font-size: 18px;
    padding: 17px 0px 0 0px;
  }

}

/*----------------------------------------UPDATES SECTION STYLE---------------------------------*/
.updates {
  background-color: #050827;
  margin: 30px;
}

.updates__main {
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
  padding-top: 83px;
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
}

.updates__subtitle {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  padding-bottom: 33px;
  letter-spacing: 2px;
}

.updates__title {
  font-size: 36px;
  line-height: 50px;
  letter-spacing: 1px;
  padding-bottom: 35px;
}

.updates__input {
  padding: 20px;
  min-width: 350px;
  background-color: initial;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFF;
  border: 1px solid #2F303E;
}

.updates__form {
  padding: 0px 0px 85px 0px;
}

.updates__btn {
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(29, 31, 46, 0.1);
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
}

.updates__btn:hover {
  background-color: #A25F4B;
  color: #ffff;
  transition: all 0.9s ease 0s;
}


/*----------------------------------------FOOTER SECTION STYLE---------------------------------*/
.footer__row {
  display: flex;
  justify-content: space-between;
  padding: 105px 0px 15px 0px;
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
}

.footer__logotext {
  font-size: 14px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.7);
  padding: 35px 0px 90px 0px;
  letter-spacing: 0.5px;
  width: 280px;
}

.footer__artical {
  font-size: 14px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.3);
  padding-top: 39px;
}

.footer__title {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D1F2E;
  padding-bottom: 32px;
}

.footer__list li {
  padding-bottom: 7px;
}

.footer__list a {
  font-size: 13px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.7);
}

.footer__list a:hover {
  border-bottom: 1px solid #000;
  color: #A25F4B;
}

.footer__text {
  font-size: 14px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.7);
  padding-bottom: 36px;
}

.footer__contact p a {
  font-size: 20px;
  line-height: 36px;
  color: #1D1F2E;
  letter-spacing: 1.5px;
}

.footer__bottomtext {
  font-size: 14px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.3);
  padding-top: 87px;
}

@media only screen and (max-width: 991px) {
  .footer__row {
    padding: 84px 30px 30px 30px;
  }
}

@media only screen and (max-width: 767px) {
  .footer__row {
    display: block;
  }

  .footer__artical {
    margin-top: 30px;
  }

  .footer__bottomtext {
    padding-top: 162px;
  }

  .footer__logotext {
    max-width: 180px;
  }
}

/*----------------------------------------POPUP MODAL SECTION STYLE----------------------------------*/
.popup {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  z-index: 25;
  display: none;
  transition: all 0.8s ease 0s;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
  color: #000;
  // max-width: 700px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  position: relative;
  transition: all 0.8s ease 0s;
  background-color: #eaeced;
  width: 600px;
}

.popup__title {
  font-size: 20px;
  line-height: 36px;
  color: #1D1F2E;
  letter-spacing: 0.5px;
  padding: 10px 0px 10px 0px;
}

.popup__closed {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 15px;
  color: #000;
  cursor: pointer;
}

.popup__closed:hover {
  color: rgb(235, 91, 91);
}

.popup__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup__title {
  font-size: 20px;
  line-height: 36px;
  color: #1D1F2E;
  letter-spacing: 0.5px;
}

.popup__order {
  padding: 30px 10px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup__button {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #1D1F2E;
  background-color: inherit;
  text-transform: uppercase;
  border-bottom: 1px solid #1D1F2E;
}

.popup__button:hover {
  color: #19ab4a;
  transition: 0.4s;
  border-bottom: 1px solid #19ab4a;
}

.popup__delete {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #1D1F2E;
  text-transform: uppercase;
  border-bottom: 1px solid #1D1F2E;
}

.popup__delete:hover {
  color: #19ab4a;
  transition: 0.4s;
  border-bottom: 1px solid #19ab4a;
}

.popup__clear {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #1D1F2E;
  border-bottom: 1px solid #1D1F2E;
}

.imgrow {
  width: 100%;
  height: 100%;
  padding-bottom: 5px;
}

.popup__main {
  position: relative;
}

.myTable {
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
}

table .myTable {
  scroll-behavior: smooth;
}

.popup__head {
  display: flex;
  padding: 12px;
  align-items: center;
}

.popup__sum {
  padding-left: 75px;
}

.popup__count {
  padding-left: 292px;
}

.myTable tbody td:nth-child(2) {
  width: 45%;
  padding-left: 5px;
}

.myTable tbody td:nth-child(3) {
  width: 5%;
  color: red;
  cursor: pointer;
}

.myTable tbody td:nth-child(4) {
  width: 5%;
}

.myTable tbody td:nth-child(5) {
  width: 5%;
  padding-right: 50px;
  color: green;
  cursor: pointer;
}

.myTable tbody td:last-child {
  width: 15%;
  padding-left: 14px;
}

.popup__fullprice {
  padding: 15px 0 0 10px;
  display: inline-block;
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  color: #000;
}

.fullprice {
  display: inline-block;
  padding-left: 394px;
}

///TO DO
// adaptation from 767px to 320px
//burger
//hover on hiddenConteiner